{% extends "webtool_template/base_auth.html" %}

{% block title %}Set new password{% endblock %}

{% block content %}
    <h1>Set a new password</h1>
    {% if validlink %}
        <form class="webtool-auth-form webtool-auth-form--simple" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save new password</button>
        </form>
    {% else %}
        <p>This password reset link is invalid or expired.</p>
        <p><a href="{{ password_reset_url|default:'/password-reset/' }}">Request a new link</a></p>
    {% endif %}
{% endblock %}
