{% comment %}
Reusable dashboard box. Include with:

  {% include 'manage/_box.html' with
       title='Course categories'
       box_id='box-categories'
       list_template='manage/partials/list_categories.html'
       items=categories
       add_url_name='manage:category_add'
       add_label='Add category'
       bulk_delete_url_name='manage:category_bulk_delete' %}

The inner #<box_id>-list element is the OOB swap target used by CRUD success
responses.
{% endcomment %}
<section class="box" id="{{ box_id }}" aria-labelledby="{{ box_id }}-title">
    <div id="{{ box_id }}-list" class="box__list">
        {% include list_template with items=items box_id=box_id title=title add_url_name=add_url_name add_label=add_label bulk_delete_url_name=bulk_delete_url_name %}
    </div>
</section>
