{% extends 'webtool_template/base.html' %}
{% load static %}

{% block title %}{% block manage_title %}Manage – Kurs-Plan{% endblock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'webtool_template/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'manage/manage.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
    <script src="{% static 'manage/manage.js' %}?v=5" defer></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <nav class="manage-toolbar" aria-label="Management">
            <span class="manage-toolbar__user">{{ user.get_username }}</span>
        </nav>
    {% endif %}

    {% block manage_content %}{% endblock %}

    {% include 'manage/_modal_shell.html' %}
    {% include 'webtool_template/footer_gap.html' %}
{% endblock %}
