{% extends 'webtool_template/base.html' %}
{% load static %}

{% block title %}{% block student_title %}Kurs-Plan{% endblock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'webtool_template/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'planner/checker.css' %}?v=2">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'planner/checker.js' %}" defer></script>
{% endblock %}

{% block content %}
    <a class="skip-link" href="#main">Skip to main content</a>
    <div id="main">
        {% block student_content %}{% endblock %}
    </div>
    {% include 'webtool_template/footer_gap.html' %}
{% endblock %}
